schema/1.0/tei.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.tei-c.org/ns/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://www.tei-c.org/ns/1.0" elementFormDefault="qualified" version="1.1" vc:minVersion="1.1">
    
    <xs:annotation>
        <xs:documentation>Schema to validate 84000 TEI files</xs:documentation>
    </xs:annotation>
    
    <!-- Import standard xml schema for xml:id and xml:lang -->
    <xs:import schemaLocation="http://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace"/>
    
    <!-- TEI -->
    <xs:element name="TEI">
        <xs:complexType>
            <xs:sequence>
                
                <!-- teiHeader -->
                <xs:element name="teiHeader" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            
                            <!-- fileDesc -->
                            <xs:element name="fileDesc" minOccurs="1" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        
                                        <!-- titleStmt -->
                                        <xs:element name="titleStmt" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    
                                                    <!-- titles -->
                                                    <xs:element name="title" minOccurs="7" maxOccurs="7">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="type" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:enumeration value="mainTitle"/>
                                                                                <xs:enumeration value="longTitle"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                    <xs:attribute ref="xml:lang" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    
                                                    <!-- authors -->
                                                    <xs:element name="author" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded">
                                                                <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                                                            </xs:choice>
                                                            <xs:attribute name="role" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="translatorMain"/>
                                                                        <xs:enumeration value="translatorEng"/>
                                                                        <xs:enumeration value="translator"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    
                                                    <!-- editors -->
                                                    <xs:element name="editor" minOccurs="0" maxOccurs="unbounded">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded">
                                                                <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                                                            </xs:choice>
                                                            <xs:attribute name="role" use="required">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:enumeration value="editorEng"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                
                                                <!-- assertions -->
                                                <xs:assert test="count(title[@type='mainTitle' and @xml:lang='eng']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='mainTitle' and @xml:lang='bo']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='mainTitle' and @xml:lang='Sa-Ltn']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='longTitle' and @xml:lang='eng']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='longTitle' and @xml:lang='bo']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='longTitle' and @xml:lang='Bo-Ltn']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                <xs:assert test="count(title[@type='longTitle' and @xml:lang='Sa-Ltn']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                                
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- editionStmt -->
                                        <xs:element name="editionStmt" minOccurs="1" maxOccurs="1">
                                            <xs:complexType mixed="false">
                                                <xs:sequence>
                                                    <xs:element name="edition" maxOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="date" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- publicationStmt -->
                                        <xs:element name="publicationStmt" minOccurs="1" maxOccurs="1">
                                            <xs:complexType mixed="false">
                                                <xs:sequence>
                                                    <!-- publisher -->
                                                    <xs:element name="publisher" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:choice maxOccurs="unbounded">
                                                                <xs:element name="name" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                                                                <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                                                            </xs:choice>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <!-- availability -->
                                                    <xs:element name="availability" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType mixed="false">
                                                            <xs:sequence>
                                                                <!-- licence -->
                                                                <xs:element name="licence" minOccurs="1" maxOccurs="1">
                                                                    <xs:complexType mixed="false">
                                                                        <xs:sequence maxOccurs="unbounded">
                                                                            <xs:element name="graphic" minOccurs="1" maxOccurs="1">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="url" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element name="p" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    
                                                    <!-- idno -->
                                                    <xs:element name="idno" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType mixed="false">
                                                            <xs:attribute ref="xml:id" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    
                                                    <!-- date -->
                                                    <xs:element name="date" minOccurs="1" maxOccurs="1">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:minInclusive value="2010"/>
                                                                <xs:maxInclusive value="2020"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        
                                        <!-- sourceDesc -->
                                        <xs:element name="sourceDesc" minOccurs="1" maxOccurs="1">
                                            <xs:complexType mixed="false">
                                                <xs:sequence>
                                                    
                                                    <!-- bibl -->
                                                    <xs:element name="bibl" minOccurs="1" maxOccurs="1">
                                                        <xs:complexType mixed="true">
                                                            <xs:sequence>
                                                                <xs:element name="ref" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                                                <xs:element name="biblScope" minOccurs="1" maxOccurs="1">
                                                                    <xs:complexType mixed="true">
                                                                        <xs:choice>
                                                                            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                                                                        </xs:choice>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="series" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="citedRange" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                                                <xs:element name="author" minOccurs="0" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="role" use="required">
                                                                                    <xs:simpleType>
                                                                                        <xs:restriction base="xs:string">
                                                                                            <xs:enumeration value="translatorTib"/>
                                                                                        </xs:restriction>
                                                                                    </xs:simpleType>
                                                                                </xs:attribute>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- text -->
                <xs:element name="text" minOccurs="1" maxOccurs="1">
                    <xs:complexType mixed="false">
                        <xs:sequence>
                            
                            <!-- front -->
                            <xs:element name="front" minOccurs="1" maxOccurs="1">
                                <xs:complexType mixed="false">
                                    <xs:sequence>
                                        <xs:element name="div" minOccurs="3" maxOccurs="3">
                                            
                                            <!-- summary -->
                                            <xs:alternative test="@type = 'summary'" type="summary"/>
                                            
                                            <!-- acknowledgment -->
                                            <xs:alternative test="@type = 'acknowledgment'" type="acknowledgment"/>
                                            
                                            <!-- introduction -->
                                            <xs:alternative test="@type = 'introduction'" type="introduction"/>
                                            
                                        </xs:element>
                                    </xs:sequence>
                                    
                                    <!-- assertions -->
                                    <xs:assert test="count(div[@type='summary']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                    <xs:assert test="count(div[@type='acknowledgment']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                    <xs:assert test="count(div[@type='introduction']) = 1" xpathDefaultNamespace="##targetNamespace"/>
                                    
                                </xs:complexType>
                            </xs:element>
                            
                            <!-- body -->
                            <xs:element name="body">
                                <xs:complexType mixed="false">
                                    <xs:sequence>
                                        
                                        <!-- translation -->
                                        <xs:element name="div" minOccurs="1" maxOccurs="1">
                                            <xs:complexType mixed="false">
                                                <xs:sequence>
                                                    
                                                    <xs:element name="head" minOccurs="2" maxOccurs="3" type="translation-head"/>
                                                    
                                                    <xs:element name="div" minOccurs="0" maxOccurs="unbounded">
                                                        
                                                        <!-- section -->
                                                        <xs:alternative test="@type = 'section'" type="translation-section"/>
                                                        
                                                        <!-- chapter -->
                                                        <xs:alternative test="@type = 'chapter'" type="translation-chapter"/>
                                                        
                                                        <!-- colophon -->
                                                        <xs:alternative test="@type = 'colophon'" type="translation-colophon"/>
                                                        
                                                    </xs:element>
                                                </xs:sequence>
                                                
                                                <xs:attribute name="type" fixed="translation"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            
                            <!-- back -->
                            <xs:element name="back">
                                <xs:complexType mixed="false">
                                    <xs:sequence>
                                        <!-- notes, bibliography, glossary, appendix -->
                                        <xs:element name="div" minOccurs="3" maxOccurs="4">
                                            
                                            <!-- notes -->
                                            <xs:alternative test="@type='notes'" type="notes"/>
                                            
                                            <!-- bibliography -->
                                            <xs:alternative test="@type='listBibl'" type="bibliography"/>
                                            
                                            <!-- glossary -->
                                            <xs:alternative test="@type='glossary'" type="glossary"/>
                                            
                                            <!-- appendix -->
                                            <xs:alternative test="@type='appendix'" type="appendix"/>
                                            
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <!-- summary type -->
    <xs:complexType mixed="false" name="summary">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="summary"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
        </xs:choice>
        <xs:attribute name="type" fixed="summary"/>
    </xs:complexType>
    
    <!-- acknowledgment type -->
    <xs:complexType mixed="false" name="acknowledgment">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="acknowledgment"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
        </xs:choice>
        <xs:attribute name="type" fixed="acknowledgment"/>
    </xs:complexType>
    
    <!-- introduction type -->
    <xs:complexType mixed="false" name="introduction">
        <xs:choice maxOccurs="unbounded">
            
            <xs:element name="head" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="introduction"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
            
            <!-- sections -->
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="false">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="head" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="type" fixed="section"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
                        <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
                        <xs:element name="q" minOccurs="0" maxOccurs="unbounded" type="q"/>
                        <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                        <xs:element name="list" minOccurs="0" maxOccurs="unbounded" type="list"/>
                    </xs:choice>
                    <xs:attribute name="type" fixed="section"/>
                </xs:complexType>
            </xs:element>
            
        </xs:choice>
        <xs:attribute name="type" fixed="introduction"/>
    </xs:complexType>
    
    <!-- translation head type -->
    <xs:complexType name="translation-head">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="translation"/>
                            <xs:enumeration value="titleHon"/>
                            <xs:enumeration value="titleMain"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- translation section type -->
    <xs:complexType mixed="false" name="translation-section">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="0" maxOccurs="2">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="section"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="q" minOccurs="0" maxOccurs="unbounded" type="q"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="sp" minOccurs="0" maxOccurs="unbounded" type="sp"/>
            <xs:element name="list" minOccurs="0" maxOccurs="unbounded" type="list"/>
            <xs:element name="trailer" minOccurs="0" maxOccurs="1" type="trailer"/>
            <xs:element name="label" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <!-- Sub section -->
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded" type="translation-section"/>
        </xs:choice>
        <xs:attribute name="type" fixed="section"/>
    </xs:complexType>
    
    <!-- translation chapter type -->
    <xs:complexType mixed="false" name="translation-chapter">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="0" maxOccurs="2">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="chapter"/>
                                        <xs:enumeration value="chapterTitle"/>
                                        <xs:enumeration value="section"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="q" minOccurs="0" maxOccurs="unbounded" type="q"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="sp" minOccurs="0" maxOccurs="unbounded" type="sp"/>
            <xs:element name="list" minOccurs="0" maxOccurs="unbounded" type="list"/>
            <xs:element name="trailer" minOccurs="0" maxOccurs="1" type="trailer"/>
            <xs:element name="label" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="type" fixed="chapter"/>
    </xs:complexType>
    
    <!-- colophon section type -->
    <xs:complexType mixed="false" name="translation-colophon">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="0" maxOccurs="2">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="colophon"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="q" minOccurs="0" maxOccurs="unbounded" type="q"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="trailer" minOccurs="0" maxOccurs="unbounded" type="trailer"/>
            <xs:element name="list" minOccurs="0" maxOccurs="unbounded" type="list"/>
            <xs:element name="label" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <!-- sections -->
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded" type="translation-section"/>
        </xs:choice>
        <xs:attribute name="type" fixed="colophon"/>
    </xs:complexType>
    
    <!-- notes type -->
    <xs:complexType mixed="false" name="notes">
        <xs:sequence>
            <xs:element name="head" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="notes"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <!-- list -->
            <xs:element name="list" minOccurs="0" maxOccurs="1">
                <xs:complexType mixed="false">
                    <xs:sequence>
                        <xs:element name="head" minOccurs="0" maxOccurs="1" type="xs:string"/>
                        <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType mixed="false">
                                <xs:sequence>
                                    <xs:element name="abbr" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                    <xs:element name="expan" minOccurs="0" maxOccurs="1" type="expan"/>
                                </xs:sequence>
                                <xs:attribute name="uid" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" fixed="abbreviations"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" fixed="notes"/>
    </xs:complexType>
    
    <!-- bibliography type -->
    <xs:complexType mixed="false" name="bibliography">
        <xs:sequence>
            <xs:element name="head" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="listBibl"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <!-- section -->
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded" type="bibliography-section"/>
            
        </xs:sequence>
        <xs:attribute name="type" fixed="listBibl"/>
    </xs:complexType>
    
    <!-- bibliography section type -->
    <xs:complexType mixed="false" name="bibliography-section">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="head" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="section"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>                    
            <xs:element name="bibl" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
                        <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
                        <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                        <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
                        <xs:element name="author" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                        <xs:element name="date" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                    </xs:choice>
                    <xs:attribute name="uid" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded" type="bibliography-section"/>
        </xs:choice>
        <xs:attribute name="type" fixed="section"/>
    </xs:complexType>
    
    <!-- glossary type -->
    <xs:complexType mixed="false" name="glossary">
        <xs:sequence>
            <xs:element name="head" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="glossary"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <!-- list -->
            <xs:element name="list" minOccurs="0" maxOccurs="1">
                <xs:complexType mixed="false">
                    <xs:sequence>
                        <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType mixed="false">
                                <xs:sequence>
                                    <xs:element name="gloss" minOccurs="0" maxOccurs="1" type="gloss"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="type" fixed="glossary" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" fixed="glossary"/>
    </xs:complexType>
    
    <!-- appendix type -->
    <xs:complexType mixed="false" name="appendix">
        <xs:sequence>
            <xs:element name="head" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="type" fixed="appendix"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="div" minOccurs="0" maxOccurs="unbounded">
                
                <xs:alternative test="@type = 'section'" type="translation-section"/>
                
                <xs:alternative test="@type = 'chapter'" type="translation-chapter"/>
                
            </xs:element>
        </xs:sequence>
        <xs:attribute name="type" fixed="appendix"/>
    </xs:complexType>
    
    <!-- gloss type -->
    <xs:complexType mixed="false" name="gloss">
        <xs:sequence>
            <!-- term -->
            <xs:element name="term" minOccurs="2" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
                        <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
                        <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                        <xs:element name="ptr" minOccurs="0" maxOccurs="unbounded" type="ptr"/>
                    </xs:choice>
                    <xs:attribute ref="xml:id"/>
                    <xs:attribute ref="xml:lang"/>
                    <xs:attribute name="type">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="definition"/>
                                <xs:enumeration value="alternative"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="uid" type="xs:string" use="required"/>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="term"/>
                    <xs:enumeration value="person"/>
                    <xs:enumeration value="place"/>
                    <xs:enumeration value="text"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- paragraph type -->
    <xs:complexType mixed="true" name="paragraph">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
            <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="distinct" minOccurs="0" maxOccurs="unbounded" type="distinct"/>
            <xs:element name="q" minOccurs="0" maxOccurs="unbounded" type="q"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
        </xs:choice>
        <xs:attribute name="uid" type="xs:string" use="required"/>
    </xs:complexType>
    
    <!-- lg type -->
    <xs:complexType mixed="true" name="lg">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="l" minOccurs="0" maxOccurs="unbounded" type="l"/>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
        </xs:choice>
        <xs:attribute name="uid" type="xs:string" use="required"/>
    </xs:complexType>
    
    <!-- l type -->
    <xs:complexType mixed="true" name="l">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
            <xs:element name="distinct" minOccurs="0" maxOccurs="unbounded" type="distinct"/>
            <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- q type -->
    <xs:complexType mixed="true" name="q">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- sp type -->
    <xs:complexType mixed="true" name="sp">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/>
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="speaker" minOccurs="0" maxOccurs="1" type="xs:string"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- trailer type -->
    <xs:complexType mixed="true" name="trailer">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- translation list type -->
    <xs:complexType mixed="false" name="list">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="milestone" minOccurs="0" maxOccurs="unbounded" type="milestone"/>
            <xs:element name="head" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded">
                        <xs:element name="p" minOccurs="0" maxOccurs="unbounded" type="paragraph"/><!-- invalid in html -->
                        <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
                        <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
                        <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
                        <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
                        <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
                        <xs:element name="list" minOccurs="0" maxOccurs="unbounded" type="list"/>
                        <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
                    </xs:choice>
                    <xs:attribute name="n" type="xs:string"/>
                    <xs:attribute name="style">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="bullet l3"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="rend">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="bulleted"/>
                    <xs:enumeration value="numbered"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- milestone type -->
    <xs:complexType name="milestone">
        <xs:attribute name="unit">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="chunk"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- foreign type -->
    <xs:complexType mixed="true" name="foreign">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
            <xs:element name="note" minOccurs="0" maxOccurs="unbounded" type="note"/>
        </xs:choice>
        <xs:attribute ref="xml:lang" use="optional"/><!-- Should be required -->
        <xs:attribute name="type">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="term"/>
                    <xs:enumeration value="quote"/>
                    <xs:enumeration value="mantra"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <!-- title type -->
    <xs:complexType name="title">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="optional"/>
                <xs:attribute name="level" use="optional"/>
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="longTitle"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- distinct type -->
    <xs:complexType name="distinct">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="term"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- note type -->
    <xs:complexType mixed="true" name="note">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
            <xs:element name="distinct" minOccurs="0" maxOccurs="unbounded" type="distinct"/>
            <xs:element name="emph" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="ptr" minOccurs="0" maxOccurs="unbounded" type="ptr"/>
            <xs:element name="lg" minOccurs="0" maxOccurs="unbounded" type="lg"/>
            <xs:element name="abbr" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="place">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="end"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="index" type="xs:integer" use="required"/>
    </xs:complexType>
    
    <!-- ref type -->
    <xs:complexType name="ref">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="cRef" type="xs:string"/>
                <xs:attribute name="target" type="xs:anyURI"/>
                <xs:attribute name="type" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <!-- lb type -->
    <xs:complexType mixed="false" name="lb"/>
    
    <!-- bibl type -->
    <xs:complexType mixed="true" name="bibl">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="title" minOccurs="0" maxOccurs="unbounded" type="title"/>
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
            <xs:element name="lb" minOccurs="0" maxOccurs="unbounded" type="lb"/>
            <xs:element name="ref" minOccurs="0" maxOccurs="unbounded" type="ref"/>
            <xs:element name="author" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
            <xs:element name="date" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:choice>
        <xs:attribute name="uid" type="xs:string" use="required"/>
    </xs:complexType>
    
    <!-- expan type -->
    <xs:complexType mixed="true" name="expan">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="foreign" minOccurs="0" maxOccurs="unbounded" type="foreign"/>
        </xs:choice>
    </xs:complexType>
    
    <!-- ptr type -->
    <xs:complexType name="ptr">
        <xs:attribute name="target" type="xs:string"/>
    </xs:complexType>
    
</xs:schema>